{% extends 'users/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block body %}
<div class="imageContainer">
    <div class="container contactus">
        <div class="heading">
            <h2>Contact Us</h2>
            <p>We are happy to hear your views. Please let us know what we can do better to provide you best anyone can
                offer.</p>
        </div>
        <div class="content">
            <h3><i class="fa fa-map-marker-alt"></i> Address</h3>
            <p>Saraswatipuram, Near Primary School, Korkhana, Faizabad, 224001</p>
        </div>
        <div class="content">
            <h3><i class="fa fa-envelope"></i> Email</h3>
            <p>rsbakeryfzd@gmail.com</p>
        </div>
        <div class="content">
            <h3><i class="fa fa-phone-alt"></i> Phone</h3>
            <p>+91 7906908088</p>
        </div>

    </div>

</div>


{% endblock %}