{% load static %}
<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-dark navbar-secondary">
    <div class="container">
        <a class="navbar-brand" href="{% url 'core:index' %}"><img width="130px" height="55px" src="{% static 'logo_brown_hat_orange.svg' %}"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-ctrl"
            aria-controls="navbar-ctrl" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-ctrl">
            <ul class="navbar-nav ml-left">
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'core:index' %}" class="btn btn-simple">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'products:products' %}" class="btn btn-simple">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'core:recipes' %}" class="btn btn-simple">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'users:profile' %}" class="btn btn-simple">About
                        Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'core:contact-us' %}" class="btn btn-simple">Contact
                        Us</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                {% if perms.products.access_dashboard %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'products:dashboard' %}" class="btn btn-simple">Dashboard</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-item nav-link" href="{% url 'core:create-recipe' %}" class="btn btn-simple">Add
                        Post</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Hello {{user.profile.first_name}}</a>
                    <div class="dropdown-menu" aria-labelledby="profileDropdown">
                        <a class="dropdown-item" href="{% url 'users:profile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'users:password_change' %}">Change Password</a>
                        <a class="dropdown-item" href="{% url 'core:recipe-collection-list' %}">My Recipe
                            Collection</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:logout' %}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'users:register' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>