{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block body %}

{% include 'users/_messages.html' %}

<div class="imageContainer loginimg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class=" loginForm shadow">
                    <div class="card-header pb-0">
                        <div class="card-title">
                            <h2>Login</h2>
                        </div>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                            {{form|crispy}}
                            <div class="text-right p-1">
                                <a href="{% url 'users:password_reset' %}" class="float-left pt-1 text-orange">Forgot Password?</a>
                                <button type="submit" class="btn btn-outline-orange px-4">Login</button>
                            </div>
    
                        </div>
                        <!-- <div class="card-footer py-3">
                            <div class="d-flex justify-content-center links">
                                Don't have an account?<a href="#" class="px-1"> Sign Up</a>
                            </div>
                        </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}